html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  cursor: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.375 4.375L14.6854 29.1229L18.3458 18.3458L29.1229 14.6854L4.375 4.375Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M18.9584 18.958L27.7084 27.708" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>'), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
